<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.work.dml.dml2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatIsTheFirstThingThatComesToMind" />
        <activity android:name=".WhatWentRight" />
        <activity android:name=".DoDifferently" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Framing" />
        <activity android:name=".Focus" />
        <activity android:name=".DesiredOutcome" />
        <activity android:name=".NursingInt" />
        <activity android:name=".ClientResponse" />
        <activity android:name=".EvalandSum" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".Top" />
        <activity android:name=".Topleft" />
        <activity android:name=".Left" />
        <activity android:name=".Leftbot" />
        <activity android:name=".Bot" />
        <activity android:name=".Rightbot" />
        <activity android:name=".Right" />
        <activity android:name=".Topright" />
        <activity android:name=".Procedure" />
        <activity android:name=".Emailout" />
        <activity android:name=".Inaction" />
        <activity android:name=".Onaction" />
        <activity android:name=".Beyond"></activity>
    </application>

</manifest>